[submodule "NAudio"]
	path = NAudio
	url = https://github.com/naudio/NAudio.git
[submodule "consolecontrol"]
	path = consolecontrol
	url = https://github.com/haha01haha01/consolecontrol.git
[submodule "gong-wpf-dragdrop"]
	path = gong-wpf-dragdrop
	url = https://github.com/haha01haha01/gong-wpf-dragdrop.git
